header {
    text-decoration: none;
    color: #000;
}

body{
    background-color: #B3B9BF;
    height: 50px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: #fff;
}

a.stylish:hover{
    background-color: #A9A9A9;
    border: 7px solid  #A9A9A9;
    border-radius: 40px;
    margin-right: 5px;
}

a:visited{
    text-decoration: none;
}